.addPlantCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 80%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    background-color: beige;
    border-radius: 15px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    padding-right: 10px;
}


.formItem {
    float: left;
    margin: auto;
    margin-bottom: 16px;
    padding: 0 8px;
    flex-basis: 100%;
}

.submitButton {
    justify-content: center;
    align-self: center;
}

.btn {
    background-color: #31632d;
    color: white;
    font-size: 20px;
    float: right; 
}
