.plantcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 2%;
    background-color: beige;
    padding: 10px;
    border-radius: 15px 40px; 
    
  }
  
  .plantcard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .cardcontainer {
    padding: 2px 16px;
  }

  img {
    width: 100%;
  }